@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



body {
    font-family: "Hind Siliguri", sans-serif;
    margin: 0; 
    background-image: url("https://img.freepik.com/fotos-gratis/variedade-de-mesa-de-angulo-alto-com-laptop_23-2149013922.jpg?t=st=1716538621~exp=1716542221~hmac=63c3f95630127f8eec363412a0aacfeb11badbd7711f0a391d52d6d9cadf181f&w=826");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2549A3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.loginform {
    background-color: #ffffff;
    padding: 80px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.loginform{
    background-color: #ffffff;
    padding: 80px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 300px;
}

.form h1 {
    margin-bottom: 20px;
    color: #333333;
}

.form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2549A3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #2549A3;
}

.logo-form img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 2px 2px;
    border-radius: 30%;
}